.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.logo {
    padding: 10px;
    margin-left: 100px;
    font-size: 18px;
}

.links {
    display: flex;
    margin-right: 100px;
    
}

.linkitem {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.first-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
}

.first-section-text {
    margin-left: 100px;
    margin-right: 100px;
    width:auto;
}


.signup-btn {
    background-color: #3882F6;
    display: block;
    border-radius: 10%;
    border: 0px;
    width: 100px;
    height: 30px;
    color: white;
}

.paragraph {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.paragraph-small {
    color: #E5E7EB;
    font-size: 18px;
}

.first-section-image {
    background-color: gray;
    margin: 100px;
    padding: 50px;
}

.information {
    text-align: center;
    margin-top: 30px;
}

.square-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 60px;
}

.square-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 15%;
    border-color: #3882F6;
    text-align: center;
}

.square-text {
    margin-top: 5px;
    width: 100px
}

.quote-section {
    background-color: #E5E7E7EB;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.span-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    white-space: pre-wrap;
    padding: 50px;
}

.span-quote2 {
    margin-left: auto;
    font-weight: bold;
    margin-right: 50px;
    font-size: 26px;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 2%;
    margin: 50px;
}

.footer-text {
    color: white;
    font-size: 24px;
}

.footer-paragraph::first-line {
    font-weight: bold; 
}

.footer-btn {
    background-color: #3882F6;
    display: block;
    border-radius: 10%;
    border: 0.1px;
    border-color: white;
    border-style: solid;
    width: 100px;
    height: 30px;
    color: white;
}